<div class="title">
  <%= @text.title %>
</div>
<div class="inner">
  <br>
  <div><b>Id:</b> <%= @text.id %></div>
  <div><b>Created at:</b> <%= @text.inserted_at %></div>
  <div><b>Changed at:</b> <%= @text.updated_at %></div>
</div>
