<h2><%= @title %></h2>

<%= f = form_for @changeset, "#",
  id: "context-form",
  phx_change: "validate",
  class: "alternative-inputs",
  phx_target: @myself,
  phx_submit: "save" %>

  <%= text_input f, :title, style: "width: 100%" %>

  <%= submit "Save", phx_disable_with: "Saving..." %>
  <br>

  <%= checkbox f, :important, value: @context.important %>
  <%= label f, :important %>

  <%= if @id == :new do %>
    <%= select f, :context_type, @context_types %>
  <% end %>

</form>
