<%= f = form_for :links, "#",
  id: "link-form",
  phx_target: @myself,
  phx_submit: "save"
  %>

    <%= submit "Save", phx_disable_with: "Saving..." %>

    <%= multiple_select f,
        :secondary_contexts,
        LinkFormComponent.get_contexts(@state),
        selected:
        Enum.map(@state.selected_context.secondary_contexts, fn ctx -> ctx.id end)
    %>
</form>
