<%= f = form_for :links, "#",
  id: "link-form",
  phx_target: @myself,
  phx_submit: "save"
  %>

    <%= submit "Save", phx_disable_with: "Saving..." %>

    <%= multiple_select f,
        :children,
        @state.contexts |> Enum.filter(fn ctx -> ctx.id != @state.selected_context.id end) |> Enum.map(fn ctx -> ctx.title end),
        selected:
        Enum.map(@state.selected_context.children, fn ctx -> ctx.title end)
    %>
</form>
