/_build/
/deps/
/doc/
/.fetch
erl_crash.dump
*.ez
cometoid-*.tar
npm-debug.log
/assets/node_modules/
.elixir_ls
.clj-kondo
.lsp
assets/.shadow-cljs
assets/test-main.js
assets/.calva
assets/.nrepl-port
.cpcache

!/priv/static/assets/app.css
/priv/static/