<div phx-hook="SaveHook" 
     id="issue-new-component-el"
     save-hook-target-el-id="new-issue-form_title"
     target={@myself}>
  <h2>Create Issue</h2>

  <.form
    for={@changeset}
    let={f}
    id="new-issue-form"
    class="alternative-inputs"
    phx-change="changes"
    phx-target={@myself}>

    <%= text_input f, :title, phx_hook: "InputFieldHook", target: @myself %>
  </.form>
</div>
