<div phx-hook="SaveHook" phx-my-target={@myself}>
  <h2>Create Issue</h2>

  <.form
    for={@changeset}
    let={f}
    id="new-issue-form"
    class="alternative-inputs"
    phx-change="changes"
    phx-target={@myself}>

    <%= text_input f, :title, phx_hook: "TextAreaHook", target: @myself %>
  </.form>
</div>
