<div class="upper border-color" style="padding-top: 0px;">
  <div class="smaller-text">
    <h1 style="font-family: serif">
      <span style="float: left;">
        <%= @state.view %>
      </span>
    </h1>
  </div>
</div>
