<%= f = form_for @changeset, "#",
  id: "issue-form",
  phx_target: @myself,
  phx_change: "changes",
  phx_submit: "save" %>

  <%= text_input f, :title, class: 'background-color' %>
  <%= error_tag f, :title %>

  <%= submit "Save", phx_disable_with: "Saving..." %>

  <div id="right">
    <%= textarea f, :description %>
    <%= error_tag f, :description %>
  </div>
</form>
