$lists-width: 56%;
$description-width: 44%;

#page-content {
    position: fixed;
    top: calc(#{$navbar-height} + #{$navbar-padding} - 4px);
    bottom: 0;
    width: 100%;

    #left-column {

        position: absolute;
        width: $lists-width;
        top: 0;
        height: 100%;

        #contexts-and-issues-row {
            
            height: calc(100% - #{$taskbar-height});

            #overview-component {
                height: 100%;
                width: calc(33% + 9px);
                float: left;
            }
            
            .list-component {
                
                float: left;
                width: calc(67% - 10px);
                height: 100%;

                border-left-style: dotted;
                border-left-width: 1px;
            }
        }
    }

    #right-column {

        position: absolute;
        left: $lists-width;
        width: $description-width;
        height: 100%;
    }

    #context-search-mask-top {
        position: absolute;
        height: calc(#{$navbar-height} + #{$navbar-padding} + #{$taskbar-height});
        width: 100%;
        top: calc(0px - #{$navbar-height} - #{$navbar-padding});
        z-index: 1000;
    }
    #issue-list-component-mask {
        position: absolute;
        z-index: 1000;
        width: calc(67% - 10px);
        top: $taskbar-height;
        height: 100%;
    }
    #context-list-component-mask {
        position: absolute;
        z-index: 1000;
        width: calc(33% + 9px);
        top: $taskbar-height;
        height: 100%;
    }
    #context-search-mask-right {
        position: absolute;
        z-index: 1000;
        top: $taskbar-height;
        bottom: 0;
        left: $lists-width;
        width: $description-width;
    }
    #context-search-mask-right.in-issue-search {
        left: calc(#{$lists-width} + 1px);
        width: calc(#{$description-width} - 1px);
    }
}