$list-item-height: $taskbar-height;

.issues-view-list-arrangement {
    
    height: calc(100% - #{$taskbar-height});

    #contexts-container {
        height: 100%;
        width: 33%;
        float: left;
        border-right-style: dotted;
        border-right-width: 1px;
    }
    
    #list-container {
        float: left;
        width: 67%;
        height: 100%;
    }
}

.contexts-view-list-arrangement {

    height: calc(100% - #{$taskbar-height});

    #list-container {
        float: left;
        width: 100%;
        height: 100%;
    }
}

.list-base {
    .list-item {
        &:hover {
            background-color: lighten(black, 20%);
        }
    }
}

.sidebar-list::-webkit-scrollbar {
    display: none;
}
.sidebar-list {
    overflow: scroll;
    scrollbar-width: none;

    width: 100%;
    height: 100%;

    .list-item {
        padding: 20px;
        height: 60px;
        width: 100%;
    }
}


.list::-webkit-scrollbar {
    display: none;
}
.list {
    height: 100%;

    overflow: auto;
    scrollbar-width: none;

    width: 100%;

    table {
        border-spacing: 0;
        td {
            padding: 0;
        }
    }

    .list-table {
        
        height: unset;
        width: 100%;
        position: relative;

        .list-item {
            font-weight: bold;
            
            .left {

                text-align: right;
                padding-left: 20px;
                padding-right: 20px;
                white-space: nowrap;
                height: $list-item-height;
                
                .type {
                    position: relative;

                    .text-left {
                        left: 16px;
                    }
                }
            }
            .right {
                border-left-style: solid;
                border-left-width: 2px;

                padding-left: 20px;
                right: 0;
                padding-top: 0;
                padding-bottom: 0;
                width: 100%;
                text-align: left;
            }
            
            border-bottom-width: 1px;
            border-bottom-style: dotted;
            border-bottom-color: lighten(black, 30%);

            &:hover {
                background-color: lighten(black, 20%);
            }
            table {
                right: 0;
                white-space: nowrap;
                height: $list-item-height;
            }
            .heading {
                width: 100%;
                max-width: 1px;
                padding-right: 6px;
                overflow: hidden;
                text-overflow: ellipsis;
                height: $list-item-height;
                font-family: sans-serif;
            }
            .contexts {

                position: relative;
                right: -1px;
                display: inline-block;
                padding: 0;
                visibility: visible;
                margin-left: 20px;
                margin-right: 10px;

                span {
                    font-family: monospace;
                    font-weight: normal;
                    background-color: darkblue;
                    color: rgb(255, 217, 0);
                    padding: 4px;
                    padding-left: 8px;
                    padding-right: 8px;
                    margin-left: 6px;
                    border-radius: 6px;
                }
            }
            .actions {
                
                width: 1px;
                position: relative;
                right: -1px;
                display: inline-block;
                padding: 0;
                visibility: hidden;

                height: $list-item-height;

                span.btn {
                    cursor: pointer;
                }

                span.btn:hover {
                    background-color: lighten(black, 40%);
                }

                .btn {
                    width: 0;
                    height: $list-item-height;
                    position: relative;
                    top: 0;
                    
                    display: inline-block;

                    a {
                        font-size: 1.2rem;
                        
                        i {
                            position: absolute;
                            padding: 23px;
                        }
                    }
                }
            }
            &:hover .heading {
                padding-right: 20px;
            }
            &:hover .actions {
                width: unset;
                visibility: visible;
                .btn {
                    width: $list-item-height;
                }
            }
            &:hover .contexts {
                visibility: hidden;
                width: 1px;
            }
        }
    }
}

#contexts-list {
    height: 56%;
    border-bottom-style: dashed;
    border-bottom-width: 2px;

    &.only-contexts {
        height: 100%;
        border-bottom-style: unset;
    }
}

#issues-list {
    bottom: 0;

    height: 44%;
    &.only-issues {
        height: 100%;
    }
}