.phx-modal-content {
    input {
        height: 30px;
    }
    input:focus {
        outline: none;
    }
    // button {
        // background-color: $bg-color; TODO
    // }
}

#issue-description-modal-content {
    .phx-modal-content {
        height: unset;
        width: unset;
        left: calc(50% - 250px);
        #issue-description-form {
            input {
                width: 90%;
                padding-left: 10px;
            }
            
            width: 600px;
            height: 700px;
            #content {
                padding: 40px;
                float: left;
                width: 500px;
        
                // TODO deduplicate, see #quote-form
                textarea {
                    width: calc(100% - 20px);
                    height: 500px;
                    padding: 10px;
                    border-width: 2px;
                }
                textarea:focus {
                    outline: none;    
                }
            }
        }
    }
}

#context-description-modal-content {
    .phx-modal-content {
        height: unset;
        width: unset;
        left: calc(50% - 250px);
        #context-description-form {
            input {
                width: 90%;
                padding-left: 10px;
            }
            
            width: 600px;
            height: 700px;
            #content {
                padding: 40px;
                float: left;
                width: 500px;
        
                // TODO deduplicate, see #quote-form
                textarea {
                    width: calc(100% - 20px);
                    height: 500px;
                    padding: 10px;
                    border-width: 2px;
                }
                textarea:focus {
                    outline: none;    
                }
            }
        }
    }
}

#new-issue-modal-content {
    .phx-modal-content {
        height: unset;
        width: 600px;
        left: calc(50% - 300px);
        #new-issue-form {
            input {
                padding-left: 10px;
                width: 98%;
            }
        }   
    }
}

#issue-modal-content {
    .phx-modal-content {
        height: unset;
        width: 600px;
        left: calc(50% - 300px);
        #issue-form {
            input {
                width: 90%;
                padding-left: 10px;
            }
            
            height: 300px;
            #content {
                float: left;
                width: 600px;
            }
        }
        
    }
}

#context-modal-content {
    .phx-modal-content {
        height: unset;
        width: unset;
        width: 600px;
        left: calc(50% - 300px);
        #context-form {
            input {
                padding-left: 10px;
            }
            height: 200px;
            textarea {
                height: 500px;
                width: 600px;
            }
        }
    }
}

#link-modal-content {
    .phx-modal-content {
        height: unset;
        width: unset;
        left: calc(50% - 200px);
        width: 600px;
        #link-form {
            td {
                padding: 1px;
            }
        }
        
    }
}







