.context-type-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    width: 400px;
    grid-auto-rows: 100px;
    height: 50px;
    grid-auto-rows: minmax(20px, auto);
    div {
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

#taskbar {
    // position: absolute;
    left: 0;
    width: 100%;

    border-bottom-width: 1px;
    border-bottom-style: dotted;

    top: 0;
    height: $taskbar-height;

    .form-block-1 {
        top: 11px;
        left: 163px;
        select {
            padding: 3px;
            min-width: 200px;
        }
    }

    .form-block-2 {
        top: 25px;
        right: 216px;
    }
}

.taskbar {
    .form-block {
        top: 10px;
        position: absolute;
    }
    .form-block.button {
        height: $taskbar-height;
        position: relative;
        float: left;
        width: $taskbar-height;
        top: 0;
        font-size: 1.4rem;
        a {
            position: absolute;
            padding-top: 19px;
            height: $taskbar-height;
            width: $taskbar-height;
            text-align: center;
            i::before {
                text-align: center;
            }
        }
    }
    .form-block.button.left {
        float: left;
    }
    .form-block.button.right {
        float: right;
    }
}

#contexts-filter-taskbar {
    height: calc(#{$taskbar-height} + 10px);
    width: calc(100% - 40px);
    padding: 20px;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
}