// theme-1
$text-color: lighten(black, 80%);
$background-color: black;
$border-color: lighten(black, 50%);

.theme-1-default-colors {
    color: $text-color;
    background-color: $background-color;
    .background-color { background-color: $background-color; }
    .border-color { border-color: $border-color; }
    .color-border-color { color: $border-color; }
    .border-background-color { border-color: $background-color; }
    #contexts-list { 
        border-color: $border-color;
        background-color: lighten(black, 7%); 
    }
    input {
        color: $text-color;
        background-color: $background-color;
    }
    textarea {
        color: $text-color;
        background-color: $background-color;
    }
    .alternatives {
        input {
            color: darkolivegreen;
            background-color: $background-color;
        }
    }
    .enabled-button-color {
        &:hover {
            background-color: lighten(black, 40%);
        }
    }
    .disabled-button-color { a i { color: lighten(black, 10%); } }
    .regular-color { color: lighten(black, 30%); }
    .important-color { color: green; }
    .selected-item-color { background-color: lighten(black, 15%); }
    .selected-issue-color { color: lighten(black, 95%); }
    .deselected-issue-color { color: lighten(black, 45%); }
}


// theme-2
$text-color: lighten(black, 80%);
$background-color: gray;
$border-color: lighten(black, 10%);

.theme-2-default-colors {
    color: $text-color;
    background-color: $background-color;
    .background-color { background-color: $background-color; }
    .border-color { border-color: $border-color; }
    .color-border-color { color: $border-color; }
    .border-background-color { border-color: $background-color; }
    #contexts-list { 
        border-color: $border-color;
        background-color: darken($background-color, 4%);
    }
    input {
        color: $text-color;
        background-color: $background-color;
    }
    textarea {
        color: $text-color;
        background-color: $background-color;
    }
    .alternative-inputs {
        input {
            background-color: white;
            color: darkolivegreen;
        }
    }
    .enabled-button-color {
        &:hover {
            background-color: lighten(black, 40%);
        }
    }
    .disabled-button-color { a i { color: darken(gray, 3%); } }
    .regular-color { color: #4D4D10; }
    .important-color { color: yellow; }
    .selected-item-color { background-color: darken(gray, 10%); }
    .selected-issue-color { color: lighten(black, 95%); }
    .deselected-issue-color { color: darkgray; }
}
