$text-color: lighten(black, 80%);

// theme-1
$text-color-1: lighten(black, 80%);
$background-color-1: black;
$selected-item-color-1: lighten($background-color-1, 15%);
$contexts-background-color-1: lighten(black, 10%); 
$contexts-selected-item-color-1: lighten($contexts-background-color-1, 11%);
$border-color-1: lighten(black, 50%);

.theme-1-default-colors {
    color: $text-color-1;
    background-color: $background-color-1;
    .color { color: $text-color-1 };
    .background-color { background-color: $background-color-1; }
    .contexts-background-color { background-color: $contexts-background-color-1; }
    .border-color { border-color: $border-color-1; }
    .color-border-color { color: $text-color-1; }
    .border-text-color { background-color: $text-color-1; }
    .border-background-color { border-color: $background-color-1; }
    #contexts-list { 
        border-color: $border-color-1;
        background-color: $contexts-background-color-1; 
        .contexts-selected-item-color { background-color: $contexts-selected-item-color-1; }
    }
    .selected-item-color { background-color: $selected-item-color-1; }
    input {
        color: $text-color-1;
        background-color: $background-color-1;
    }
    textarea {
        color: $text-color-1;
        background-color: $background-color-1;
    }
    .alternatives {
        input {
            color: darkolivegreen;
            background-color: $background-color-1;
        }
    }
    .enabled-button-color { &:hover { background-color: lighten(black, 40%); } }
    .disabled-button-color { a i { color: lighten(black, 10%); } }
    .regular-color { color: lighten(black, 60%); }
    .important-color { color: green; }
    .selected-issue-color { color: lighten(black, 95%); }
    .deselected-issue-color { color: lighten(black, 45%); }
    .opacity { background-color: rgba(0,0,0,0.7); }
}


// theme-2
$text-color-2: lighten(black, 80%);
$background-color-2: gray;
$selected-item-color-2: darken($background-color-2, 7%);
$contexts-background-color-2: darken($background-color-2, 4%);
$contexts-selected-item-color-2: darken($contexts-background-color-2, 9%);
$border-color-2: lighten(black, 10%);

.theme-2-default-colors {
    
    color: $text-color-2;
    background-color: $background-color-2;
    .color { color: $text-color-2 };
    .background-color { background-color: $background-color-2; }
    .contexts-background-color { background-color: $contexts-background-color-2; }
    .border-color { border-color: $border-color-2; }
    .color-border-color { color: $text-color-2; }
    .border-text-color { background-color: $text-color-2; }
    .border-background-color { border-color: $background-color-2; }
    #contexts-list { 
        border-color: $border-color-2;
        background-color: $contexts-background-color-2;
        .contexts-selected-item-color { background-color: $contexts-selected-item-color-2; }
    }
    .selected-item-color { background-color: $selected-item-color-2; }
    input {
        color: $text-color-2;
        background-color: $background-color-2;
    }
    textarea {
        color: $text-color-2;
        background-color: $background-color-2;
    }
    .alternative-inputs {
        input {
            background-color: white;
            color: darkolivegreen;
        }
    }
    .enabled-button-color { &:hover { background-color: lighten(black, 40%); } }
    .disabled-button-color { a i { color: darken(gray, 3%); } }
    .regular-color { color: #b9b39f }
    .important-color { color: yellow; }
    .selected-issue-color { color: lighten(black, 95%); }
    .deselected-issue-color { color: darkgray; }
    .opacity { background-color: rgba(0,0,0,0.2); }
}
