<div class="list-base">
  <%= for context <- @contexts do %>
    <%= live_component ListItemComponent, 
      context: context, 
      contexts: @contexts, 
      selected_context: @selected_context %>
  <% end %>
</div>
