<div class="inner" id="context-description">
  <div>
    <%= unless (is_nil(@context.description) or @context.description == "") and (is_nil(@context.title) or @context.title == "") do %>
      <div id="desc" phx-hook="DescHook">
        <%= Phoenix.HTML.raw(markdownify("# " <> demarkdownify(@context.title) <> "\n" <>  (@context.description || ""))) %>
      </div>
    <% end %>
  </div>
</div>
