<div class="upper">

  <br>
  <%= if @event.issue do %>
    <div><b>Issue Id:</b> <%= @event.issue.id %></div>
    <div><b>Issue Type:</b> <%= @event.issue.issue_type %></div>
    <br>
  <% end %>
  <div><b>EVENT-<%= @event.id %></b></div>
  <div><b>Changed at:</b> <%= @event.updated_at %></div>

  <div class="smaller-text">
    <h1 style="font-family: serif"><%= if @event.issue do @event.issue.title else @event.title end %></h1>
  </div>
</div>
