{:deps {thiru/clj-reloader        {:git/url "https://github.com/thiru/clj-reloader"
                                   :sha     "8646987342602ab2c6fd0b966386eacda0844f64"}
        com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                   :sha     "cc75980b43011773162b485f46f939dc5fba91e4"}}
 :paths ["dev/clj" "src/cljc" "test/cljc"]
 :aliases {:test {:main-opts ["-m" "cognitect.test-runner"]
                  :exec-fn cognitect.test-runner.api/test}}}