{:source-paths
 ["src/main/cljs" "src/main/cljc" "src/test"]

 :dependencies
 [[binaryage/devtools               "0.9.10"]]

 :dev-http {9080 "../priv/static/js/"}

 :builds {:app {:output-dir "../priv/static/js/"
                :asset-path "/js"
                :target :browser
                :modules {:app {:entries [editor.editor]}}}}}