{:source-paths
 ["src/cljs" "src/cljc" "test/cljc"]

 :dependencies
 [[binaryage/devtools                 "0.9.10"]
  [net.eighttrigrams/cljs-text-editor "0.0.8"]]

 :builds {:app {:output-dir "../priv/static/assets/"
                :asset-path "/assets"
                :target :browser
                :modules {:app {:entries [editor.editor]}}}}}