{:source-paths
 ["src/main" "src/cljc" "src/test"]

 :dependencies
 [[org.clojars.knubie/cljs-run-test "1.0.1"]
  [binaryage/devtools               "0.9.10"]]

 :dev-http {9080 "../priv/static/js/"}

 :builds {:app {:output-dir "../priv/static/js/"
                :asset-path "/js"
                :target :browser
                :modules {:app {:entries [editor]}}}
          
           :test-all
            {:target    :node-test
             :output-to "test-main.js"
             :ns-regexp "-test$"
             :autorun   true}

          :test {:target :node-script
                 :output-to "test-main.js"
                 :main      run-tests/init
                 :devtools  {:repl-init-ns run-tests
                             :preloads [devtools.preload]}}}}