<div id="context-list-component" class="list-component border-color">

  <div class="list issues-list">
    <table class="list-table">
      <%= for context <- get_contexts @state do %>
        <%= live_component ItemComponent, 
          context: context,
          state: @state %>
      <% end %>
    </table>
  </div>
</div>