<div class="title">
  <b>PERSON</b>
  <%= @context.person.name %>
</div>
<div class="inner">
  <br>
  <div><b>Context Id:</b> <%= @context.id %></div>
  <div><b>Changed at:</b> <%= @context.updated_at %></div>
  <div><b>Person Id:</b> <%= @context.person.id %></div>
  <div><b>Changed at:</b> <%= @context.updated_at %></div>
  <br>
  <div><b>Birthday:</b> <%= @context.person.birthday.date %></div>

  <br>
  <div><b>Description:</b> <%= @context.person.description %></div>
</div>
