<div class="upper">

  <b><%= String.upcase(@context.context_type) %>-<%= @context.id %></b>
  <div><b>Changed at:</b> <%= @context.updated_at %></div>

  <div class="smaller-text">
    <h1><%= @context.title %></1>
  </div>
</div>
